<% include partials/header %>
<div class="container">
    <h1 style="text-align:center">Create a new CampGround</h1>
    <div style="width:30%;margin:10px auto">
        <form action="/campgrounds" method="POST">
  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Image</label>
    <input type="text" class="form-control"  placeholder="Image URL" name="image">
  </div>
    <div class="form-group">
    <label for="formGroupExampleInput2">Description</label>
    <input type="text" class="form-control"  placeholder="Description" name="description">
  </div>
  <button class="btn btn-primary btn-lg">Submit</button>
</form>
<a href="/campgrounds">Go Back</a>
    </div>
</div>
<% include partials/footer %>